:root {
    --text-color: #fff; /* White text */
    --title-gradient: linear-gradient(to right, #ff5aa7, #f7a059); /* Gradient for the main title */
    --team-header-gradient: linear-gradient(to right, #4cb6fd, #4bff93); /* Gradient for the team subheader */
    --project-header-gradient: linear-gradient(to right, #a42ecc, #a2d9ce); /* Gradient for the projects subheader */
    --team-member-name-gradient: linear-gradient(to right, #38f4d8, #2ebac6); /* Gradient for the team members' names */
    --project-title-gradient: linear-gradient(to right, #e93c3c, #ec9141); /* Gradient for the project titles */
    --font-family: 'Arial', sans-serif;
    --p-color: #88cded;
   
    /* Font size variables */
    --main-title-font-size: 2.95em; /* Font size for the main title */
    --subheader-font-size: 2.45em; /* Font size for subheaders like team and project headers */
    --title-font-size: 1.75em; /* Font size for other titles like team member names and project titles */
    --text-font-size: 1em; /* Font size for regular text */
    --p-size: 1.75em;s
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background: linear-gradient(to bottom, #101010, #232323);
    /* background: linear-gradient(to bottom, #101010, #232323); */
    color: var(--text-color);
}


/* Image section styles */
.image-section {
    height: 400px; /* Adjust the height as needed */
    /* background-image: url('C:/Dev/Websites/icarusteamdev/assets/clouds2.jpg'); /* Update this path */
    background-image: url('./assets/clouds2.jpg');
    background-size: cover;
    background-position: center;
    margin: 0; /* Add space before and after the section */
    width: 100vw; /* Set the width to the viewport width */
    position: relative; /* Add this to offset the usual container padding */
    left: 50%; /* Add this to offset the usual container padding */
    right: 50%; /* Add this to offset the usual container padding */
    transform: translateX(-50%); /* Add this to offset the usual container padding */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header, .team, .projects {
    margin-bottom: 20px;
}

h1 {
    background: var(--title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--main-title-font-size);
}

p {
    background: var(--p-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--p-size);
}



.what-we-do-header {
    background: linear-gradient(to right, #4cb6fd, #4bff93); /* Adjust colors for your desired blue-green gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the gradient */
    font-size: var(--main-title-font-size); /* Reusing the main title font size variable */
    
}


.team h2 {
    background: var(--team-header-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--subheader-font-size);
}

.projects h2 {
    background: var(--project-header-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--subheader-font-size);
}

.team-member h3 {
    background: var(--team-member-name-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--title-font-size);
}

.project h3 {
    background: var(--project-title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--title-font-size);
}

.team-member, .project {
    margin-bottom: 10px;
}

.team-member img {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
}

.team-member p, .project p {
    /* Keeps regular text styling from body, no specific font size variable applied here */
}











/* General button styles */
.button {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: bold;
    margin-right: 11px; /* Adds spacing to the right of each button */
}



  
  





  /* MOVING GRADIENT STYLES */
  @keyframes movingGradient {
    0% {
      background-position: left center;
    }
    100% {
      background-position: right center;
    }
  }
  
  .join-us-button {
    background: linear-gradient(to right, #ff5aa7, #f7a059, #ff5aa7, #59a0f7, #d559f7, #d559f7); /* Your original colors */
    background-size: 500% 500%; 
    background-position: left center;
    animation: movingGradient 15s linear infinite alternate; 
  }









  
  
  
  
  
  
  
  

.meet-the-team-button {
    background: linear-gradient(to right, #1184cb, #21dfc9); /* Blue-green gradient */
}

.projects-button {
    background: linear-gradient(to right, #1fc193, #2cb835); /* Pink-purple gradient */
}

.consulting-button {
    background: linear-gradient(to right, #c6fc25, #11cb14 ); /* Custom gradient for consulting */
}

.hire-us-button {
    background: linear-gradient(to right, #ff1fcb, #b968ff); /* Custom gradient for hire us */
}



.about-us-header {
    background: linear-gradient(to right, #4cb6fd, #8a2be2); /* Blue to Purple gradient */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the gradient */
    font-size: var(--main-title-font-size); /* Reusing the main title font size variable */
}



/* This style will be applied to all your pages, ensuring there's a back-to-home link */
.back-to-home {
    display: block;
    margin-top: 20px;
    font-size: 1em;
    text-decoration: none;
    color: var(--text-color);
}


.top-buttons-container {
    margin-bottom: 30px; /* Adjust this value to control the space after your button set */
}