:root {
    --background-color: #333; /* Dark grey background */
    --text-color: #fff; /* White text */
    /* Updating color variables to gradient */
    --title-gradient: linear-gradient(to right, #ff5aa7, #f7a059); /* Red to orange gradient for the main title */
    --team-header-gradient: linear-gradient(to right, #4cb6fd, #48f5e4); /* Blue gradient for the team subheader */
    --project-header-gradient: linear-gradient(to right, #2ecc71, #a2d9ce); /* Green gradient for the projects subheader */
    --team-member-name-gradient: linear-gradient(to right, #38f4d8, #2ebac6); /* Aqua gradient for the team members' names */
    --project-title-gradient: linear-gradient(to right, #f1c40f, #f39c12); /* Yellow gradient for the project titles */
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header, .team, .projects {
    margin-bottom: 20px;
}

h1 {
    background: var(--title-gradient);
    -webkit-background-clip: text;
    color: transparent; /* Makes the text color transparent to show the gradient */
}

.team h2 {
    background: var(--team-header-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.projects h2 {
    background: var(--project-header-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.team-member, .project {
    margin-bottom: 10px;
}

.team-member img {
    width: 100px;
    height: 100px;
    background: #ddd;
    border-radius: 50%;
}

.team-member h3 {
    background: var(--team-member-name-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.project h3 {
    background: var(--project-title-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.team-member p, .project p {
    margin: 0;
    /* Keeping the basic text color as white for project descriptions */
}
